<th:block xmlns:th="http://www.thymeleaf.org" th:include="layout">

    <div th:fragment="content">
        <!--<a role="button" class="btn btn-success" th:href="@{/messages/add}" th:method="get">Add </a>-->
        <!--<a href="#myModal" class="btn btn-success " data-toggle="modal">Add</a>-->
        <!-- HTML-код модального окна -->
         <a role="button" class="btn btn-primary" th:href="@{/synchronization}" th:method="get">Synchronize with
            google</a>
        <div>
            <table class="table table-bordered dataTable"  width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>

                </tr>
                </thead>
                <tbody>
                <th:block th:each="group : ${groups}">
                    <tr th:id="'headingGroup'+${group.id}">
                        <td class="align-middle details_button" data-toggle="collapse"
                            aria-expanded="false"
                            style="width: 20px"
                            th:attr="data-target='#collapseGroup'+${group.id}, aria-controls='collapseGroup'+${group.id}">
                            <i class="fa fa-fw fa-plus"></i>

                        </td>
                        <td th:text="${group.name}"></td>

                    </tr>
                    <tr th:id="'collapseGroup'+${group.id}" class="collapse"
                        th:attr="aria-labelledby='headingGroup'+${group.id}" data-parent="#dataTable">


                        <td th:colspan="3">
                            <table class="table table-bordered" id="userDataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone number</th>
                                    <th>Sum</th>
                                    <th>Comment</th>
                                    <th>Notations</th>

                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="student : ${group.getStudents()}">
                                    <tr>
                                        <td th:text="${student.name}"></td>
                                        <td th:text="${student.phone}"></td>
                                        <td th:text="${student.sum}"></td>
                                        <td th:text="${student.comment}"></td>
                                        <td th:text="${student.notation}"></td>

                                    </tr>

                                </th:block>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

</th:block>

