<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head::head"/>
    <th:block th:include="fragments/scripts::scripts"/>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div th:replace="fragments/navigation::nav"></div>
<div class="content-wrapper">
    <div class="container-fluid" th:include="this::content">
    </div>
    <div th:replace="fragments/footer::footer"></div>
    <th:block th:include="fragments/logout::logout"/>
</div>




</body>

</html>