<th:block xmlns:th="http://www.thymeleaf.org" th:include="layout">

    <div th:fragment="content">
        <a role="button" class="btn btn-primary" th:href="@{/messages/add}" th:method="get" >Add </a>
        <div class="list-group">
            <th:block th:each="message : ${messages}">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 th:text="${message.getName()}" class="mb-1"></h5>
                    </div>
                    <p class="mb-1" th:text="${message.getText()}"></p>
                    <div class="clearfix">
                        <a role="button" class=" float-right"
                           th:href="@{/messages/edit(id=${message.getId()})}"><i class="fa  fa-fw fa-edit"></i></a>
                        <a role="button" class=" float-right"
                           th:href="@{/messages/delete(id=${message.getId()})}"><i class="fa fa-fw fa-trash"></i></a>
                    </div>
                </div>

            </th:block>
        </div>
    </div>

</th:block>

