<th:block xmlns:th="http://www.thymeleaf.org" th:include="layout">
    <div  th:fragment="content">
        <form  th:object="${message}" th:action="@{/messages/edit}" th:method="post" >
            <input name="id" th:field="*{id}" type="hidden"/>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name="name" type="text" class="form-control" id="inputName" placeholder="Name" th:field="*{name}"/>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Data too long for column...:)  </td>
            </div>
            <div class="form-group">
                <label for="inputText">Text</label>
                <textarea th:field="*{text}" name="text" class="form-control" id="inputText" rows="3" > </textarea>
                <td th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Data too long for column...:)  </td>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</th:block>

